body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header .title {
 
  font-weight: bold;
  font-size: 37px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
  margin-top: 10px;
  margin-bottom:10px;
}

header {
  border-bottom: 1px solid #d3d6da;
}

.line1, .line2, .line3{
  display:flex;
  justify-content: center;
  margin-bottom:8px;
  

}

.line1 button, .line2 button, .line3 button  {
  background-color: #d3d6da;
  height: 58px;
  width:46px;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 8px;
  border:0;
  font-weight: bold;
  
}